/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}



.html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #333, #555);
    /* Gradient background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Vertically center items */
    padding: 15px 30px;
    /* Increase padding for a more spacious look */
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a stronger shadow for depth */
}

nav {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    flex: 1;
    /* Allow ul to grow and take available space */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* Increase font size for better readability */
    font-weight: 600;
    /* Use a slightly bolder font */
    padding: 10px 20px;
    /* Adjust padding for better click area */
    border-radius: 6px;
    /* More rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    /* Add transform transition */
}

nav ul li a:hover {
    background-color: #FF6347;
    /* Tomato color */
    color: #fff;
    transform: scale(1.05);
    /* Slightly enlarge the link on hover */
}

nav ul li a.active {
    background-color: #FF6347;
    /* Tomato color for active links */
    color: #fff;
    font-weight: 700;
    /* Bolder text for active link */
}

/* Button Styles */
.btn {
    background-color: #ff9800;
    /* Button color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: auto;
    /* Push the button to the right */
}


.btn:hover {
    background-color: #e68900;
    /* Darker orange on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button on hover */
}

/* Full-Page Section */
.full-page {
    display: flex;
    align-items: center;
    height: 100vh;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px 100px;
    height: 100vh;
    background-color: white;
    border-top: 5px solid #ff9800;
    border-bottom: 5px solid #ff9800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Align text to the left */
.left {
    flex: 1;
    text-align: left;
    /* Align text to the left */
    /* Add some padding to the right */
}

.left .typewriter {
    font-size: 50px;
    color: #333;
    border-right: .15em solid orange;
    animation: typing 2.5s steps(10, end) 0s 1 normal both, blink-caret 0.75s step-end infinite;
    width: auto;
}

.left .name {
    font-size: 50px;
    margin-top: 40px;
    color: #333;
}

.left .highlight {
    font-size: 40px;
    color: #666;
}


/* Align image to the right */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 100%;
    max-width: 450px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.connect {
    font-size: 20px;
    margin-top: 40px;
}

.plain-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    position: relative;

}

.plain-link::after {
    content: '';
    display: block;
    height: 4px;
    width: 58%;
    background-color: #f5a623;
    margin: 10px auto 0;
    border-radius: 2px;
}

.highlight-name {
    font-weight: bold;
    /* Makes the text bold */
    padding: 2px 4px;
    /* Adds some padding around the text */
    border-radius: 1px;
    color: #ff9800;
    /* Optional: adds rounded corners */
}



/* Typewriter Effect */
.typewriter {
    font-size: 50px;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: typing 4.5s steps(50, end) 1 normal both, blink-caret 0.75s step-end 5;
    display: inline-block;
    /* Ensure the width fits the content */
    width: auto;
}

/* Keyframes for Typing */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 35%;
    }
}

/* Keyframes for Blinking Caret */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}



.right img:hover {
    transform: scale(1.05);
    /* Slightly enlarge the image on hover */
}

/* Projects Section */
#projects {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 90px 0 300px;
    height: auto;
    border-top: 5px solid #ff9800;
    /* Add a decorative top border */
    border-bottom: 5px solid #ff9800;
}



#projects h2 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    /* Increased font size for section heading */
    margin-bottom: 20px;
}

#projects h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 150px;
    background-color: #f5a623;
    margin: 10px auto 0;
    border-radius: 2px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    /* Constrain the width of the cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    /* Lift the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */
}

.project-card p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    /* Button color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Optional: Prevent background scroll when modal is open */
.shifted {
    overflow: hidden;
}

.project-card a:hover {
    color: #e68900;
    /* Darker orange on hover */
}


table {
    width: 90%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 20px auto;
    justify-content: center;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#projectModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    /* Above other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    overflow: auto;
}

/* Modal Content */
#modalDetails {
    position: relative;
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

/* Headings and Paragraphs */
#modalDetails h3 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

#modalDetails p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    margin: 20px 0;
}

/* Styling for the Video Containers */
.video-container {
    text-align: center;
    margin: 20px 0;
}

.video-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}




/* Contact Section */
/* About Me Section */
#about-me {
    background-color: white;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    max-width: 800px;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.about-details {
    padding: 1rem;
}

#about-me h2 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    /* Increased font size for section heading */
    margin-bottom: 30px;
}

#about-me h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 50%;
    background-color: #f5a623;
    margin: 10px auto 0;
    border-radius: 2px;
}

.about-details p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5rem;
}

/* Skills Categories */
.skills-category {
    margin-bottom: 1.5rem;
}

.skills-category h4 {
    font-size: 1.5rem;
    color: #ff9800;
    margin-bottom: 0.5rem;
}

.skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: #ff9800;
    color: white;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.skills li:hover {
    background-color: #e68a00;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
}

footer .icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .icon:hover {
    color: #f39c12;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.hamburger {
    display: none;
}

@media (max-width: 1500px) {
    .typewriter {
        font-size: 5px;
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 45%;
        }
    }

}

@media (max-width: 1300px) {
    .typewriter {
        font-size: 2px;
        font-weight: lighter;
    }


}

@media (max-width: 1200px) {
    .typewriter {
        font-size: small;
        font-weight: 10px;
        animation: none !important;
    }


}

@media (max-width: 1024px) {
    .typewriter {
        font-size: 30px !important;
        animation: none !important;
    }

    .left .name {
        font-size: 20px;
        margin-top: 40px;
        color: #333;
    }

    .left .highlight {
        font-size: 20px;
        color: #666;
    }

    .connect {
        font-size: 15px;
    }


}

@media (max-width: 824px) {
    .typewriter {
        font-size: 40px !important;

    }

    .left .name {
        font-size: 40px;
        margin-top: 40px;
        color: #333;
    }

    .left .highlight {
        font-size: 20px;
        color: #666;
    }

    .connect {
        font-size: 20px;
    }

    #about {
        display: flex;
        flex-direction: column !important;
    }

    .right img {
        width: 300px;
        align-items: center;

    }


}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        /* Stack form and box vertically on smaller screens */
        align-items: center;
    }

    form {
        width: 100%;
        margin-right: 0;
        /* Remove margin on small screens */
        margin-bottom: 2rem;
        /* Add space below form */
    }

    .contact-box {
        width: 100%;
        margin-bottom: 2rem;
        /* Space between contact box and form on small screens */
    }

    nav ul {
        display: none;
        /* Hide the nav links */
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust top based on your header height */
        right: 0;
        width: 100%;
        background-color: #333;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 28px;
        color: white;
    }

    /* Show the menu when active */
    nav ul.show {
        display: flex;
    }


}